
      <app-navbar></app-navbar>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title protest-riot-regular">FOR ANY QUERIES</h5>
          <p class="card-text eb-garamond">EMAIL:xyz&commat;gmail.com</p>
          <label class="eb-garamond" for="">PHONE:3567790218</label>
          
        </div>
        <iframe class="card-img-bottom" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.741387197269!2dYOUR-LONGITUDE!3dYOUR-LATITUDE!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3AYOUR_PLACE_NAME!2sYOUR_PLACE_NAME!5e0!3m2!1sen!2s!4v1577247649644!5m2!1sen!2s" width="200" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
      