img{
    width: 280px;
    height: 200px;
    padding: 20px;
    border-radius: 20px;
}
.card{
    width: 240px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 1);
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1{
    color: #e96284;
}