<app-navbar></app-navbar>
<div class="container">
    <h1 class="text-center">Check Out Big Deals!</h1>
    <div class="row">
      @for (item of data ; track $index){
      <div class="col-3 p-3">
        <div class="card" style="width: 18rem;">
          <img src="{{item.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description | slice : 0: 150}}...</p>
            <a routerLink="{{item.id}}" class="btn  btn-outline-primary">Shop Now</a>
          </div>
        </div>
      </div>
    }
    </div>
  </div>
  <app-footer></app-footer>
  
