/* You can add global styles to this file, and also import other style files */

.btn{
    padding: 20px;
    margin-left: 60px;
}
body {
    background-color: #ffdde1;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  footer {
    background-color: #191318;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    margin-left: 0px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
nav{
    background-color: #ee9ac7;
    margin-left: 0;
}
