/* You can add global styles to this file, and also import other style files */
/*img{
    width: 400px;
    height: 200px;
    padding: 20px;
}
.card{
    width: 240px;
    height: 650px;
    border: 20px;
}*/
body{
    background: #ddd6f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #faaca8, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #faaca8, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*.btn{
    padding: 20px;
    margin-left: 60px;
    margin-bottom: 10px;
}*/
